<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}!
  </h1>
</div>
<div>
  <h3>1. class binding and style binding </h3>
  <classBinding></classBinding><hr>
  <h3>2. Example of structutal directives *ngIf and *ngFor</h3>
  <sDirective></sDirective><hr>
  <h3>3. Event binding Click for button and keyup for input box </h3>
  <app-click-me></app-click-me><hr>
  <h3>4. Oneway and two way  binding for input boxes  </h3>
  <two-Way-binding></two-Way-binding>
</div>

